<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">OpenRewrite Recipe Collection Timo-A</a>
      </div>
      {{#if (or env.ALGOLIA_API_KEY env.SITE_SEARCH_PROVIDER)}}
      <div class="navbar-item search hide-for-print">
        <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span>a</span>
        <span>b</span>
        <span>c</span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://gitlab.com/antora">Code</a>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Recipes on this site</strong></div>
            <a class="navbar-item" href="https://github.com/timo-a/rewrite-recipe-starter">Repository</a>
            <a class="navbar-item" href="https://github.com/timo-a/rewrite-recipe-starter/issues">Issue Tracker</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Documentation (this Site)</strong></div>
            <a class="navbar-item" href="https://github.com/timo-a/rewrite-recipe-starter/tree/docs/antora">Branch</a>
            <a class="navbar-item" href="https://github.com/timo-a/rewrite-recipe-starter/issues">Issue Tracker</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Context</div>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item"><strong>Framework</strong></div>
            <a class="navbar-item" href="docs.openrewrite.org">OpenRewrite</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
